<a class="button" href="/">Back</a>
<div style="margin: 0 auto; width: 50%; padding-top: 16px;">
  <label for="search-bar" style="font-size: 22px; color: #313443;"><p>Start typing your search below</p></label>
</div>
<input id="search-input" type="text" class="form-search form-control" style="margin: 16px auto; width: 50%; height: 48px; color: #18396A; font-weight: bolder;"/>
