<a class="button" href="/">Back</a>
<div style="margin: 0 auto; width: 50%; padding-top: 16px;">
  <label for="search-bar" style="font-size: 24px;"><p>Enter your search below</p></label>
</div>
<input id="search-bar" type="text" class="form-search form-control" style="margin: 16px auto; width: 50%; height: 48px;"/>
