/*Shared*/
body {
  background: #EBEDEF;
}

h2 {
  margin-left: 16px;
  padding: 8px 0;
  color: #18396A;
}

h3 {
  font-size: 14px;
  margin-left: 16px;
  padding-bottom: 8px;
  color: #313443;
}

a:hover {
  text-decoration: none;
}


.button {
  position: fixed;
  right: 16px;
  top: 16px;
  font-size: 16px;
  padding: 6px 18px;
  border-radius: 26px;
  background: #18396A;
  color: white;
  border: 3px solid #18396A;
  z-index: 1000;
}

.button:hover {
  border: 3px solid #18396A;
  background: white;
  color: #18396A;
  transition: all 0.5s ease;
}

/*Home*/
.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 16px;
  border: 1px solid #18396A;
  border-radius: 5px;
}

.card:hover {
  border: 3px solid #18396A;
}

.card > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  opacity: 0.7;
  transition: all 0.5s ease;
}

.card > img:hover {
  opacity: 1;
}

.card h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card p {
  font-size: 14px;
  margin: 0;
  color: #313443;
  font-weight: bolder;
}

.card .card-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

/*Search*/
.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

.card-search {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border: 1px solid #18396A;
  transition: all 0.2s ease;
  border-radius: 5px;
}

.card-search:hover {
  border: 3px solid #18396A;
}

.card-search img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-search h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  line-height: 22px;
}

.card-search p {
  font-size: 12px;
  color: #313443;
  margin-bottom: 0;
  /*margin-top: 8px;*/
  font-weight: bolder;
}

.card-search .card-search-info {
  padding: 16px;
}

